<div class="b-example-divider"></div>
<div class="container">
  <div class="row flex-row ">
    <div class="col-lg-4">
      <header class="d-flex justify-content-center py-3  header-content "
        style="background-color: blueviolet; height: 100px;">
        <div class="row ">
          <section class="col col-lg-3">
            <img id="imgClinicForfile" class="padding-left-5" src="./../../../assets/image/defaulthospital.png" alt="" width="72" height="57">
          </section>
          <section class="col">
            <h3 id="txtHospitalName">คลินิกทดสอบความงาม</h3><br>
            <label id="txtOrgName">สาขาทดสอบความสวย</label>

          </section>
        </div>



      </header>
    </div>

  </div>

</div>
